/* Variables */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-radius: .5em;
  outline: none;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

li {
  list-style: none;
}

/* Join Page Styles */
.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.centered-form__box {
  -webkit-box-shadow: 0px 0px 17px 1px #1d1f26;
          box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 18rem;
  border-radius: 6px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

.rooms__btn {
  cursor: pointer;
  padding: 12px;
  background: white;
  border: 2px solid #7c5cbf;
  border-radius: 20px;
  color: #7c5cbf;
  font-size: 16px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  margin-bottom: 10px;
  position: relative;
}

.rooms__btn:hover {
  background-color: #7c5cbf;
  color: white;
}

.rooms__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms__btn-icon {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
}

/* Chat Page Layout */
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}

/* Chat styles */
.chat__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: calc(1rem + 1.7vh) calc(2rem + 2vw);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  overflow-y: scroll;
  position: relative;
}

/* Message Styles */
.message {
  max-width: 40vw;
  border-radius: 2rem;
  display: inline-block;
  word-wrap: break-word;
  margin: 1rem 0;
  padding: 0.9rem 1.8rem;
  background: whitesmoke;
  font-size: calc(0.5rem + 1vw);
}

.me {
  background: #8467c2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
}

.me .message__meta {
  color: white;
}

.me a {
  color: white !important;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

/* Emoji */
.tooltip:not(.shown) {
  display: none;
}

.tooltip {
  position: absolute;
  right: -10.5rem;
  top: -25.5rem;
}

/* Message Composition Styles */
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
  gap: 10px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form-wrapper button {
  font-size: 1.1rem;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-input__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.form-input__message-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  padding: 1.3rem;
  border-radius: 0.6rem;
  border: none;
  background: #ebebeb;
  font-size: 1rem;
}

.form-input__message-input[type='text'] {
  padding-right: 3rem;
}

.form-input__emoji {
  position: absolute;
  right: 1.5rem;
  top: 0.9rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.form-input__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#send-picture {
  cursor: pointer;
  padding: 14px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-radius: .5em;
  outline: none;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#send-location {
  background: #ebebeb;
  color: #7c5cbf;
}

#send-location:hover {
  background-color: #e0e0e0;
}

#fileInput {
  display: none;
}

.fa-map-marker-alt {
  margin-left: 5px;
}

.fa-image {
  font-size: 1.9rem;
}

#map {
  min-height: 350px;
  width: 350px;
}

/* Chat Sidebar Styles */
.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}
