/* Variables */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

input {
  font-size: 14px; }

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif; }

h1 {
  margin-bottom: 16px; }

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777; }

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none; }

button {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 0.5em;
  outline: none; }

button:hover {
  background: #6b47b8; }

button:disabled {
  cursor: not-allowed;
  background: #7c5cbf94; }

li {
  list-style: none; }

.fas {
  color: #7c5cbf; }

.hidden {
  visibility: hidden;
  position: absolute; }

/* Join Page Styles */
.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem; }

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 18rem;
  border-radius: 6px; }

.centered-form button {
  width: 100%; }

.centered-form input {
  margin-bottom: 16px;
  width: 100%; }

.rooms__btn {
  cursor: pointer;
  padding: 12px;
  background: white;
  border: 2px solid #7c5cbf;
  border-radius: 20px;
  color: #7c5cbf;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-bottom: 10px;
  position: relative; }

.rooms__btn:hover {
  background-color: #7c5cbf;
  color: white; }

.rooms__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.rooms__btn-icon {
  font-size: 1.2rem;
  position: absolute;
  right: 20px; }

/* Chat Page Layout */
.chat {
  display: flex; }

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 275px;
  overflow-y: scroll; }

.chat__nav {
  height: 12.6vh;
  color: #7c5cbf;
  font-weight: 600;
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. logo option'; }
  .chat__nav-logo {
    justify-self: center;
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .chat__nav-logo span {
      font-size: 1.7rem; }
    .chat__nav-logo i {
      font-size: 2rem; }
  .chat__nav-options {
    grid-area: option;
    justify-self: end;
    align-self: center; }
    .chat__nav-options .settings {
      font-size: 2.4rem;
      margin-right: 2.2rem;
      cursor: pointer; }

.dropdown-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: 'icon text .'; }

.option-icon {
  font-size: 1.2rem;
  margin-right: 1rem;
  grid-area: icon; }

.dropdown-text {
  grid-area: text; }

.leave-text {
  color: red; }

.sp-replacer {
  width: 3.3rem;
  height: 1.3rem;
  border: 1px solid #666; }

/* Chat styles */
.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh; }

.chat__messages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: calc(1rem + 1.7vh) calc(2rem + 2vw);
  flex: 1 1 20rem;
  overflow-y: scroll;
  position: relative; }

/* Message Styles */
.message {
  max-width: 40vw;
  border-radius: 2rem;
  display: inline-block;
  word-wrap: break-word !important;
  margin: 1rem 0;
  padding: 0.9rem 1.8rem;
  background: whitesmoke;
  font-size: calc(0.5rem + 1vw); }

.me {
  background: #8467c2;
  align-self: flex-end;
  color: white; }
  .me .message__meta {
    color: white; }
  .me a {
    color: white !important; }

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px; }

.message__meta {
  color: #777;
  font-size: 14px; }

.message a {
  color: #0070cc; }

/* Emoji */
emoji-picker {
  position: absolute;
  right: -8rem;
  bottom: 5rem; }

emoji-picker:not(.shown) {
  display: none; }

/* Message Composition Styles */
.form-wrapper {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
  gap: 10px;
  align-items: stretch; }
  .form-wrapper button {
    font-size: 1.1rem;
    font-weight: 600;
    flex-grow: 1; }

.form-input__wrapper {
  flex: 1 1 auto;
  flex-basis: 65%; }

.form-input__message-input {
  flex: 1 1 30rem;
  padding: 1.3rem;
  border-radius: 0.6rem;
  border: none;
  background: #ebebeb;
  font-size: 1rem; }
  .form-input__message-input[type='text'] {
    font-size: 1.2rem;
    padding-right: 3rem; }

.form-input__emoji {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  cursor: pointer;
  font-size: 1.5rem; }

.form-input__form {
  display: flex;
  flex-grow: 1;
  position: relative;
  justify-content: space-between;
  align-items: center; }

#send-picture {
  cursor: pointer;
  padding: 14px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 0.5em;
  outline: none;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #send-picture:hover {
    background-color: #6b47b8; }

#send-location {
  background: #ebebeb;
  color: #7c5cbf; }
  #send-location:hover {
    background-color: #e0e0e0; }

#fileInput {
  display: none; }

.fa-map-marker-alt {
  margin-left: 5px; }

.fa-image {
  font-size: 1.9rem; }

#map {
  min-height: 350px;
  width: 350px; }

/* Image File Styles */
.image-style {
  width: 100%;
  max-width: 350px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
  max-height: 350px;
  border-radius: 2rem;
  padding-top: 1.1rem; }

.image-message {
  max-width: 40vw;
  display: inline-block;
  margin: 1rem 0;
  background: transparent;
  align-self: flex-start; }
  .image-message-me {
    align-self: flex-end; }

/* Chat Sidebar Styles */
.room-title {
  font-weight: 600;
  font-size: 28px;
  background: #7c5cbf;
  padding: 24px; }

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px; }

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px; }

/* Color Dropdown */
